.edit-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 350px;
  padding-top: 1rem;

  p {
    margin: 0.25rem 0;
    color: #475569;
  }

  mat-form-field {
    width: 100%;
    margin-top: 1rem;
  }
}
