<h2 mat-dialog-title>Edit Court Details</h2>
<mat-dialog-content>
  <form [formGroup]="courtForm" class="court-form">
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Court Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter court name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Sport</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let sport of sportTypes" [value]="sport">
            {{sport}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Floor Type</mat-label>
        <mat-select formControlName="floorType">
          <mat-option *ngFor="let floor of floorTypes" [value]="floor">
            {{floor}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Price per Hour</mat-label>
        <input matInput type="number" formControlName="price" placeholder="0.00">
        <span matTextPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>

    <div class="attributes-section">
      <span class="attributes-label">Attributes:</span>
      <div class="checkbox-group">
        <mat-checkbox formControlName="hasRoof">Roof</mat-checkbox>
        <mat-checkbox formControlName="hasLighting">Lighting</mat-checkbox>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!courtForm.valid">Save Changes</button>
</mat-dialog-actions>
