<h2 mat-dialog-title>Editar Detalles de la Cancha</h2>
<mat-dialog-content>
  <form [formGroup]="courtForm" class="court-form">
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Nombre de la Cancha</mat-label>
        <input matInput formControlName="name" placeholder="Ingrese el nombre de la cancha">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Deporte</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let sport of sportTypes" [value]="sport">
            {{sport}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Tipo de Piso</mat-label>
        <mat-select formControlName="floorType">
          <mat-option *ngFor="let floor of floorTypes" [value]="floor">
            {{floor}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Precio por Hora</mat-label>
        <input matInput type="number" formControlName="price" placeholder="0.00">
        <span matTextPrefix>$&nbsp;</span>
        <mat-error *ngIf="courtForm.get('price')?.hasError('min')">El precio debe ser mayor a 0</mat-error>
      </mat-form-field>
    </div>

    <div class="attributes-section">
      <span class="attributes-label">Atributos:</span>
      <div class="checkbox-group">
        <mat-checkbox formControlName="hasRoof">Techo</mat-checkbox>
        <mat-checkbox formControlName="hasLighting">Iluminación</mat-checkbox>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!courtForm.valid">Guardar Cambios</button>
</mat-dialog-actions>