<div class="users-management">
    <h1 class="page-title">Gestión de Usuarios</h1>

    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Crear Usuario">
            <div class="tab-content">
                <app-create-user></app-create-user>
            </div>
        </mat-tab>
        <mat-tab label="Administrar Usuarios">
            <div class="tab-content">
                <app-manage-users></app-manage-users>
            </div>
        </mat-tab>
        <mat-tab label="Restablecer Contraseña">
            <div class="tab-content">
                <app-change-password></app-change-password>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>