<div class="users-management">
    <h1 class="page-title">Users Management</h1>

    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Create User">
            <div class="tab-content">
                <app-create-user></app-create-user>
            </div>
        </mat-tab>
        <mat-tab label="Manage Users">
            <div class="tab-content">
                <app-manage-users></app-manage-users>
            </div>
        </mat-tab>
        <mat-tab label="Reset Password">
            <div class="tab-content">
                <app-change-password></app-change-password>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>